@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%;
}

:root{
/** fontes */
--body-font: 'Poppins', sans-serif;
--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--x-small-font: 1.3rem;

/** negrito */
--font-regular: 400;
--font-medium: 500;
--font-bold: 600;

/** cores */
--primary-color: #c87e4f;
--primary-color-hover: #c2703d;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #fff;
--section-bg: #2c3034;

/** z */
--z-overlay: 10;
--z-fixed: 100;

/* transição */
--tran-02: 0.2s;
--tran-03: 0.3s;
--tran-05: 0.5s;
}

/** tamanho */
@media screen and (max-width: 990px) {
:root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --x-small-font: 1.2rem;
}  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--text-color);
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-regular);
    color: var(--text-color);
}

body{
    background-color: var(--white-color);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section{
    padding: 7rem 2rem;
    position: relative;
}

.container{
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.flex{
    display: flex;
    align-items: center;
    column-gap: o.6rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
    padding: 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav{
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.nav-link{
    text-transform: capitalize;
    position: relative
}

.nav-link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.8rem;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background-color: var(--text-color);
    transform: translateX(-50%);
    opacity: 0;
}

.logo-icon, .logo-text,  .nav-link, .cart-icon, .cart{
    color: var(--text-color);

}
.logo-icon, .cart-icon{
    font-size: 2rem;
}

.menu-list{
    column-gap: 2rem;
}