@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%;
}

:root{
/** fontes */
--body-font: 'Poppins', sans-serif;
--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--x-small-font: 1.3rem;

/** negrito */
--font-regular: 400;
--font-medium: 500;
--font-bold: 600;

/** cores */
--primary-color: #c87e4f;
--primary-color-hover: #c2703d;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #fff;
--section-bg: #2c3034;

/** z */
--z-overlay: 10;
--z-fixed: 100;

/* transição */
--tran-02: 0.2s;
--tran-03: 0.3s;
--tran-05: 0.5s;
}

/** tamanho */
@media screen and (max-width: 990px) {
    :root {
        --big-font: 3.5rem;
        --h1-font: 2.4rem;
        --h2-font: 2rem;
        --h3-font: 1.8rem;
        --h4-font: 1.6rem;
        --normal-font: 1.5rem;
        --small-font: 1.3rem;
        --x-small-font: 1.2rem;
    }  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--text-color);
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-regular);
    color: var(--text-color);
}

body{
    background-color: var(--white-color);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.section{
    padding: 7rem 2rem;
    position: relative;
}

.container{
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}
.flex{
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    z-index: var(--z-fixed);
    padding: 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav{
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: space-between;    
}

.logo-icon, .logo-text,  .nav-link, .cart-icon, .cart{
    color: var(--white-color);    
}

.logo-icon, .cart-icon{
    font-size: 2rem;
}

.menu-list{
    column-gap: 2rem;
}
.nav-link{
    text-transform: capitalize;
    position: relative
}

.nav-link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--white-color);
    transform: translateX(-50%);
    opacity: 0;
}

.active-navlink::before{
    opacity: 1;
}

.navclose-btn, .navopen-btn, .media-icons, .cartnav{
    display: none;
}

@media screen and (max-width: 768px) {
    .cart-content{
        display: none;
    }
    .navclose-btn, .navopen-btn, .media-icons{
        display: block;
    }
    .nav .menu-content{
        position: fixed;
        top: 0;
        right: -100%;
        max-width: 300px;
        width: 100%;
        height: 100%;
        z-index: var(--z-fixed);        
        padding: 10rem 0 5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        transition: var(--tran-05);        
        bottom: 0;
    }
    .nav .menu-content.open{
        right: 0;
    }
    .menu-list{
        flex-direction: column;
        row-gap: 2.5rem;
        font-size: var(--h4-font);
    }
    .nav-link{
        color: var(--text-color);
    }
    .nav-link::before{
        background-color: var(--text-color);
    }
    .cartnav{
        font-size: 2.5rem;
        position: absolute;
        top: 2rem;
        right: 25rem;
        cursor: pointer;
    }
    .navclose-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .navopen-btn{
        font-size: 2.5rem;
        cursor: pointer;
        color: var(--white-color);
    }
    .media-icons{
        column-gap: 1rem;
    }
    .media-icons a{
        color: var(--text-color-light);
        font-size: 3rem;
    }
}

.home{
    height: 100vh;
    width: 100%;
}

.swiper-slide{
    position: relative;
    height: 100vh;
    width: 100%;
}
.swiper-slide::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: var(--z-overlay);
}
.homeimg{
    height: 100%;
    width: 100%;
}
.swiper-navbtn{
    height: 5rem;
    width: 5rem;
    color: var(--white-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: var(--tran-02);
}

.swiper-navbtn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.swiper-navbtn::after, .swiper-navbtn::before{
    font-size: 2rem;
}

.swiper-button-next{
    right: 10rem;

}
.swiper-button-prev{
    left: 10rem;
}

.home-details{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: var(--z-fixed);
    transform: translate(-50%, -50%);
}

.homesub{
    text-align: center;
    font-size: var(--normal-font);
    color: white;
}
.hometitle{
    text-align: center;
    font-size: var(--big-font);
    font-weight: var(--font-bold);
    color: white;
}


