<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soft Paper</title>
    <link rel="icon" href="img/ico.png">
    <link rel="stylesheet" href="CSS/swiper-bundle.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="CSS/style.css">


</head>
<body class="bodyp">
    <header class="header" >
        <nav class="nav container flex">
            <a href="../index.html#home" class="logo-content flex">
                <i class='bx bxs-book-alt logo-icon'></i>
                <span class="logo-text">soft paper.</span>
            </a>

            <div class="menu-content">
                <ul class="menu-list flex">
                    <li><a href="../index.html#home" class="nav-link active-navlink">início</a></li>
                    <li><a href="produtos.html" class="nav-link active-navlink">comprar</a></li>
                    <li><a href="../index.html#sobre" class="nav-link active-navlink" >sobre</a></li>
                    <li class="login-header"><a href="html/login.html" class="nav-link active-navlink" >login</a></li>
                </ul>
                <div class="media-icons flex">
                    <a href="wa.me" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                    <a href="instagram.com" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                </div>
                <i class='bx bx-x navclose-btn'></i>
                <a href="carrinho.html"><i class='bx bxs-cart cartnav'></i></a>
            </div>
            
            <div class="cart-content flex">
                <a href="carrinho.html">
                    <i class='bx bxs-cart cart-icon' ></i>
                </a>
                <a href="login.html" class="nav-link">
                    Login
                </a>
            </div>
            <i class='bx bx-menu-alt-right navopen-btn'></i>
        </nav>

    </header>
    <main class="main-cadastro">
            <div class="cadastrocard flex">
                <h2>Crie sua conta!</h2>
                <form action="#" method="post" class="cadastro-form">
                    <label>Nome completo:</label>
                    <input type="text" class="input-normal" required>
                    <label>Email:</label>
                    <input type="email" class="input-normal" required>
                    <label>Senha:</label>
                    <input type="password" class="input-normal" required>
                    <label>Repita sua senha:</label>
                    <input type="password" class="input-normal" required>
                    <div class="forminput" style="display: flex; gap: 1rem; width: 100%;">
                        <div class="formcoluna" style="flex: 1;">
                            <label>Rua:</label><br>
                            <input type="text" class="input-medio" required>
                        </div>
                        <div class="formcoluna" style="flex: 2;">
                            <label>Número:</label><br>
                            <input type="number" class="input-pequeno" required>
                        </div>
                    </div>
                    <label>CEP:</label>
                    <input type="number" class="input-normal" required>
                    <button class="form">Cadastrar</button>
                </form>
                <h4>Já uma conta? <a href="login.html" style="text-decoration: underline;">Faça o login.</a></h4>

            </div>
        </main>

    <script src="js/menu.js"></script>

</body>
</html>